{
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  color: #1d1e1e;
}
body {
  background-color: #00BFFF;
}
.container {
  max-width: 200px;
  margin: 20px auto;
}
h1{
  color: #ffffff;
}
h2 {
  width: 100%;
  margin: 1em 0 .5em 1.2em;
  padding: 0;
  color: rgba(255,255,255,.2)
}
a {
  text-decoration: none;
  font-weight: 900;
  color: #ecf0f1;
}
a:hover {
  color: #bdc3c7;
}
.form {
  width: 100%;
  background-color: #00BFFF;
  text-align: center;
  padding: 1.25em;
  border-radius: 5px;
}
input {
  margin: 0 0 .4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01);
  border: 0;
  border-bottom: 5px solid rgba(0,0,0,.12);
  line-height: 40px;
}
[type='text'] {
  padding-left: 1em;
}
[type='button'] {
  color: white;
  background-color: #1E90FF;
  font-weight: 600;
}
[type='text']:focus {
  border: 0;
  border-bottom: 5px solid #1E90FF;
  color: #2c3e50;
  outline: none;
}
#titulo{
  color: #ffffff;
  font:25px Oswald;
}
.conjunto_mensagem{
  margin: 0 auto;
  width: 70%;
  background-color: #DCDCDC;
  text-align: center;
  padding: 1.1em;
  border-radius: 5px;
}
#mensagem{
  max-width: 85%;
}
#enviar_mensagem{
  margin: 0 auto;
  width: 50%;
  max-width: 25%;
}
#status{
  color: #1E90FF;
  margin: 1%;
  text-align: center;
  display: inline-block;
}
.painel_externo{
 margin: 1% auto;
 background-color: #FFFAF0;
 width: 65%;
 border-radius: 1%;
 padding: 1.25em;
}
#mural{
 margin: 0 auto;
 width:62%;
 height:60%;
 overflow: auto;
 border: ridge;
}
.status_nick{
 margin: 0 auto;
 width: 51%;
}
#usuarios{
 margin: 0 auto;
 float:left;
 width:34%;
 height:60%;
 overflow: auto;
 border: ridge;
}
